custom:
  jwt:
    secret: Cg9UCqAlMNImL2tIgQPBoUlxL5PjHQGFg5pTujilUbE5IYqU31M5uLiYlk2TB3b
    expiration_time: 20d
  database:
    dev:
      name: ${env:DB_NAME}
      host: ${env:DB_HOST}
      username: ${env:DB_USERNAME}
      userpassword: ${env:DB_USERPASSWORD}
    staging:
      name: ${env:DB_NAME}
      host: ${env:DB_HOST}
      username: ${env:DB_USERNAME}
      userpassword: ${env:DB_USERPASSWORD}
    production:
      name: ${env:DB_NAME}
      host: ${env:DB_HOST}
      username: ${env:DB_USERNAME}
      userpassword: ${env:DB_USERPASSWORD}
    name: ${self:custom.database.${opt:stage, 'dev'}.name}
    host: ${self:custom.database.${opt:stage, 'dev'}.host}
    username: ${self:custom.database.${opt:stage, 'dev'}.username}
    userpassword: ${self:custom.database.${opt:stage, 'dev'}.userpassword}
  github:
    user_token: ${env:GITHUB_USER_TOKEN}
    dev:
      github_client_id: ${env:DEV_GITHUB_CLIENT_ID}
      github_client_secret: ${env:DEV_GITHUB_CLIENT_SECRET}
    staging:
      github_client_id: ${env:STAGING_GITHUB_CLIENT_ID}
      github_client_secret: ${env:STAGING_GITHUB_CLIENT_SECRET}
    production:
      github_client_id: ${env:GITHUB_CLIENT_ID}
      github_client_secret: ${env:GITHUB_CLIENT_SECRET}
    client_id: ${self:custom.github.${opt:stage, 'dev'}.github_client_id} # github auth app client_id
    client_secret: ${self:custom.github.${opt:stage, 'dev'}.github_client_secret} # github auth app client_secret
  functions:
    # Add lambda functions for public endpoints here so Jest will not complain
    public:
      - authorization
      - getProjectCards
      - getProjectDetails
      - getUserInfo
  domainNames:
    dev:
      name: dev.api.opensource.engcom.magento.com
      path: ${opt:branch, ''}
      stage: ${opt:stage, ''}
    staging:
      name: api.opensource.engcom.magento.com
      path: ${opt:branch, ''}
      stage: ${opt:stage, ''}
    production:
      name: api.opensource.magento.com
      path: ${opt:branch, ''}
      stage: ${opt:stage, ''}
  customDomain:
   domainName: ${self:custom.domainNames.${opt:stage, 'dev'}.name}
   basePath: ${self:custom.domainNames.${opt:stage, 'dev'}.path} # If created by CircleCI prefix will correspond to the branch code is pushed to
   stage: ${self:provider.stage} # Stage will be created for every branch
   createRoute53Record: false

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${self:custom.domainNames.${opt:stage, 'dev'}.stage, 'dev'}
  region: us-east-1
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:provider.stage}
    JWT_SECRET: ${self:custom.jwt.secret}
    JWT_EXPIRATION_TIME: ${self:custom.jwt.expiration_time}
    BASE_PATH: ${self:custom.domainNames.${opt:stage, 'dev'}.path}
    GITHUB_CLIENT_ID: ${self:custom.github.client_id}
    GITHUB_CLIENT_SECRET: ${self:custom.github.client_secret}
    GITHUB_USER_TOKEN: ${self:custom.github.user_token}
    DB_NAME: ${self:custom.database.name}
    DB_USERNAME: ${self:custom.database.username}
    DB_USERPASSWORD: ${self:custom.database.userpassword}
    DB_HOST: ${self:custom.database.host}
  iamRoleStatements:
      - Effect: Allow
        Action:
          - logs:*
        Resource:
          - 'Fn::Join':
            - ':'
            -
              - 'arn:aws:logs'
              - '*'
              - '*'
              - '*'
      - Effect: Allow
        Action:
          - cloudwatch:*
          - logs:*
        Resource:
          - '*'
package:
  individually: false
  exclude:
    - coverage/**
    - .circleci/**

service: community-portal

functions:
  - ${file(./handlers/authorizer/authorizer.yml)}
  - ${file(./handlers/authorization/authorization.yml)}

resources:
  Resources:
    # Allow CORS headers for custom authorizer
    GatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: UNAUTHORIZED
        RestApiId:
          Ref: 'ApiGatewayRestApi'
        StatusCode: '401'
        ResponseTemplates:
          application/json: "{\"error\": $context.error.messageString}"
    # Add references to defined tables and roles here before deployment
    joinProjectRole: ${file(./handlers/project/joinProject/role.yml):joinProjectRole}
    unjoinProjectRole: ${file(./handlers/project/unjoinProject/role.yml):unjoinProjectRole}
    projectStarsRole: ${file(./handlers/indexer/projectStars/role.yml):projectStarsRole}
    createProjectRole: ${file(./handlers/project/createProject/role.yml):createProjectRole}
    getProjectRole: ${file(./handlers/project/getProjectCards/role.yml):getProjectRole}
    getProjectDetailsRole: ${file(./handlers/project/getProjectDetails/role.yml):getProjectDetailsRole}
    editProjectRole: ${file(./handlers/project/editProject/role.yml):editProjectRole}
    starProjectRole: ${file(./handlers/project/starProject/role.yml):starProjectRole}
    unstarProjectRole: ${file(./handlers/project/unstarProject/role.yml):unstarProjectRole}
    bookmarkProjectRole: ${file(./handlers/user/bookmarkProject/role.yml):bookmarkProjectRole}
    unbookmarkProjectRole: ${file(./handlers/user/unbookmarkProject/role.yml):unbookmarkProjectRole}
    getLikedProjectsRole: ${file(./handlers/user/getLikedProjects/role.yml):getLikedProjectsRole}
    getUserInfoRole: ${file(./handlers/user/getUserInfo/role.yml):getUserInfoRole}
    authorizationRole: ${file(./handlers/authorization/role.yml):authorizationRole}

plugins:
  - serverless-domain-manager
  - serverless-webpack
  - serverless-offline # serverless-offline needs to be last in the list
